<div class="container-fluid {{ section.settings.css_class }}">
  <span data-close-subscription=""></span>
  <div class="email-bar-form-wrapper">
      <div class="row align-items-center">
        <div class="col-md-5 col-12">
          <h3 class="text-white">{{ section.settings.heading }}</h3>
        </div>
        <div class="col-md-7 col-12">
          {{ section.settings.custom_html }}
        </div>
      </div>
  </div>
</div>
<style>
    .custom-html{
      
    }
</style>

<script> 

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    
    $(document).ready(function(){
        const cookieName = "hide_subscription";
        const subscription = $(".fixed-email-bar");

         if( getCookie(cookieName) == "") {
          subscription.addClass('d-block');
         } 

         $("[data-close-subscription]").on('click', function(e){
              subscription.removeClass('d-block');
              setCookie(cookieName, 'true', 1);
         });
    });
 </script>
{% schema %}
{
  "name": "Email Bar",
  "tag": "section",
  "class": "mt-0 fixed-email-bar",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "default": "Heading",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Form Code",
      "info": "Add Form Code here"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
